.navbar.navbar-default
  .container
    .navbar-header
      %btn.navbar-toggle.collapsed{ data: { toggle: "collapse", target: "#bs-example-navbar-collapse-1" }}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Libros para compartir con amigos...", root_path, class: "navbar-brand"

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
-#          = link_to "Todos los libros", libros_path, class: 'nav-link'
