%h1 
  Todos los libros
  = link_to 'Añadir nuevo libro', new_libro_path, class: "btn btn-large btn-success"
%hr
.padding-bottom
  - @libros.each do |libro|
    = link_to libro.title, libro
    = image_tag libro.coverurl

