= form_for @libro, html: { multipart: true, id: "fileupload" } do |f|
  - if @libro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@libro.errors.count, "error")} prohibited this libro from being saved:"
      %ul
        - @libro.errors.full_messages.each do |msg|
          %li= msg
  .col-md-5
    .row
      %h3
        Título
      .padding-left
        = f.text_field :title
  .col-md-5
    .row
      %h3
        Autor
      .padding-left
        = f.text_field :author
  .col-md-5
    .row
      %h3
        Fecha de publicación
      .padding-left
        = f.date_field :published_on 
      
  .col-md-5
    .row
      %h3
        Descripción
      .padding-left
        = f.text_area :description

    - if @libro.upload_done?
      .row  
        %h3
          Uploaded file
        .padding-left
          .row
            = @libro.upload_file_name + " (" + number_to_human_size(@libro.upload_file_size.to_s) + ")"
          .row
            = check_box_tag :delete_upload, 'sí', false
            = label_tag :delete_upload, 'borrar este archivo', class: 'text-danger'
    
    .empty-space
    .row
      - submit_text = controller_name == 'new' ? "Crear" : "Guardar"
      = f.submit submit_text, class: "btn btn-success"