<h1>Todos los libros</h1>
<%= link_to new_libro_path, class: "btn btn-lg btn-success" do %>
  <i class="glyphicon glyphicon-plus"></i>
  <span>Añadir nuevo libro</span>
<% end %>
<br><br>
<% @libros.each do |libro| %>
  <div class="book">
    <%= link_to libro_path(libro) do %>
    <div class="col-sm-3 text-center" multilinks-noscroll="true" >
      <div class="imagen">
        <img class="img-responsive" src="<%= libro.coverurl %>" >
     </div>
    </div>
    <% end %>
  </div>
<% end %>