%h1
  = @libro.title
  = link_to content_tag(:i, "", class: "glyphicon glyphicon-pencil"), edit_libro_path(@libro)
.padding-left
  .row
    = image_tag @libro.coverurl, class: "img-responsive"
  .row
    = @libro.upload_file_name + " (" + number_to_human_size(@libro.upload_file_size.to_s) + ")"
  .row
    = link_to content_tag(:i, "", class: "glyphicon glyphicon-download") + " Descargar", @libro.imageurl, class: "btn btn-lg btn-success"