* {
  font-size: 18px;
  color: white;
  line-height: 2;
}
body{
  
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: image-url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
  input, select, textarea{
    color: black;
}

  .smaller-text{
    font-size: 14px;
  }

  .empty-space{
    display: block;
    height: 62px;
  }

  input[type="text"]{ 
    width: 450px; 
  }
  .row{
    margin: 0;
  }
  .content-wrapper{
    padding: 0 20px 20px 20px;
    //background: transparent;
    > .row > div{
      @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.25));
      background: #fff;

    }
  }

  .padding-left{
    padding-left: 20px;
  }

  .padding-bottom{
    padding-bottom: 10px;
  }

  .padding-top{
    padding-top: 10px;
  }
  img {
    border: 0.5px solid gray;


}
  .imagen {
    min-height: 364px;
    margin-bottom: 23px;
}

  .navbar {
     background-color: transparent;
     background: transparent;
     border-color: transparent;
  }

  .navbar li { color: #000 } 
  .navbar-header a{
    margin-top: 5px;
    color: white !important;
    font-size: 1.6em; 
    font-family: "Courier New", Courier, monospace;
  }
  
  /* START OF Change the Navbar Colors/Font/Size */
  /* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
  .navbar .nav > li > a, .navbar .nav > li > a:first-letter,
  .navbar .nav > li.current-menu-item > a,
  .navbar .nav > li.current-menu-ancestor > a {
    display:        inline;
    color:          red;                        
    font-family:    Garamond;
    font-size:      1.5em;
    padding:        5px 20px;
  }
   
  /* Adjust Menu colors - Normal */
  .navbar .nav > li > a, .navbar .nav > li > a:first-letter {
  color:          lightgray;
  text-shadow:    none;
  }
  /* Adjust Menu colors - Hover */
  .navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter {
    color:          white;                      
    text-shadow:    none;
  }
  /* Adjust Menu colors - Active */
  .navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
  .navbar .nav > li.current-menu-item > a,
  .navbar .nav > li.current-menu-ancestor > a,
  .navbar .nav > li.current-menu-item > a:first-letter,
  .navbar .nav > li.current-menu-ancestor > a:first-letter {
    color:          blue;
    text-shadow:    none;
  }
   
  /* Adjust dropdown Menu items (blue) text color, (yellow) shading and (green) border */
  .dropdown-menu > li > a {
    color:          blue;
    background:     yellow;
    border-bottom:  2px solid green;
  }
   
  /* Remove the Hover/Focus Colors  */
  .navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a,
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color:          #5A5A5A;
  }
  /* END OF Change the Navbar Colors/Font/Size */
}