!!! 5
%html
  %head
    %title
      = "Libros para compartir con amigos"

    %meta{ content: 'minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'apple-touch-fullscreen', content: 'yes' }

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{ data: { controller: controller_name, action: action_name } }
    = render 'shared/topbar'
    .container
      = notice
      = yield